{% extends "layout.html" %} {% block content %}
<div class="layoutMenu">
   <div class="layoutMenuBar">
	<nav>
    <div class="navbar" style = "position: relative;overflow-y: visible;z-index: 999;">
      <div class="nav-links">
        <ul class="links">
          <li><a href="/shells/webui"><img src="{{exDomain}}web/images/home11.svg" class = "imageHome" alt="Home" 
                 onmouseover="this.src='{{exDomain}}web/images/home12.svg'"
       onmouseout="this.src='{{exDomain}}web/images/home11.svg'"></a></li>
		  <li><a href="/shells/{{aasIdentifier}}/webui" class = "menubarA">HOME</a></li>
		  <li><a href="/shells/{{aasIdentifier}}/productionmanager/webui" class = "menubarA">PRODUCTION PLANNING</a></li>
		  <li><a href="#" class = "menubarA">SUBMODELS
		  <i class='bx bxs-chevron-down menu-arrow'></i></a>
		  	<ul class="sub-menu">
		  		{% for submodel in submodelList %}
		  		  {% for _sid, _sidShort in submodel.items() %}
		  		  <li><a href="/shells/{{aasIdentifier}}/aas/submodels/{{_sid}}/submodel/webui" class = "subMenubarA">{{_sidShort}}</a></li>
		  		  {% endfor %}	
		  		{% endfor %}
		  	</ul>
		  </a></li>
		  <li>
            <a href="#" class = "menubarA">LOGS<i class='bx bxs-chevron-down menu-arrow'></i></a>
            <ul class="sub-menu">
            	{% for skill in skillList %}
				<li><a href="/shells/{{aasIdentifier}}/log/{{skill}}/webui"  class = "subMenubarA">{{skill}}</a></li>
			    {% endfor %}
            </ul>
          </li>
		  <li>
            <a href="#" class = "menubarA">MISCELLANEOUS<i class='bx bxs-chevron-down menu-arrow'></i></a>
            <ul class="sub-menu">
            	<li><a href="/shells/{{aasIdentifier}}/registration/webui" class = "subMenubarA">REGISTRATION</a></li>
            	<li><a href="/shells/{{aasIdentifier}}/aid/webui" class = "subMenubarA">REAL TIME DATA</a></li>
            </ul>
          </li>		  
        </ul>
      </div>
      <div class = "d-flex justify-content-center align-items-center">
      <div class="search-icon">
		<i class='bx bx-search'></i>
        <div class="search-input-div">
        	<form action="/{{aasIdentifier}}/search" method="post">
         		 <input class = "search-input" name = "searchQuery" type="text" placeholder="Search...">
         	</form>
        </div>
      </div>
      </div>
    </div>
  </nav>			  
		</div>
	</div>

 <div class="layoutBody">
		<div class = "layoutInfoBar">
		{% with flashMessages = get_flashed_messages(category_filter=["success"]) %}
						{% if flashMessages %}
							{%- for message in flashMessages %}
							<div style = "height : 2.5vh;">
							     <div class="alert alert-success alert-dismissible fade show" id = "flashMessageSuccess" role="alert" style="height: 4.5vh; padding-top: 0.2vh;">
									<p style = "text-align: center; font-size: 15px;" >{{message}}</p>
									<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding-top: 0.2vh;"></button>
								</div>  							
							</div>                   
					        {% endfor -%}
					    {% endif %}
					{% endwith %}
					{% with flashMessages = get_flashed_messages(category_filter=["error"]) %}
						{% if flashMessages %}
						{%- for message in flashMessages %}
						<div style = "height : 2.5vh;">
							<div class="alert alert-danger alert-dismissible fade show"  id = "flashMessageDanger"role="alert" style="height: 4.5vh; padding-top: 0.2vh;">
								<p style = "text-align: center; font-size: 15px;"  id = "flashMessageP">{{message}}</p>
								<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding-top: 0.2vh;"></button>
							</div>
						</div>   
						{% endfor -%}
						{% endif %}
					{% endwith %}
					{% with flashMessages = get_flashed_messages(category_filter=["info"]) %}
						{% if flashMessages %}
						{%- for message in flashMessages %}
						<div style = "height : 2.5vh;">
							<div class="alert alert-info alert-dismissible fade show" role="alert"  id = "flashMessageInfo" style="height: 4.5vh; padding-top: 0.2vh;">
								<p style = "text-align: center; font-size: 15px;"  id = "flashMessageP">{{message}}</p>
					     		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" style="padding-top: 0.2vh;"></button>
							</div>
						</div>   
						{% endfor -%}
						{% endif %}
					{% endwith %}
		</div>
		<div class = "layoutBodyContent">
			{% block homecontent %}{% endblock %}
		</div>

    </div>


<script>
let navbar = document.querySelector(".navbar");
let searchBox = document.querySelector(".search-icon .bx-search");

searchBox.addEventListener("click", ()=>{
navbar.classList.toggle("showInput");
if(navbar.classList.contains("showInput")){
 searchBox.classList.replace("bx-search" ,"bx-x");
}else {
 searchBox.classList.replace("bx-x" ,"bx-search");
}
});

setTimeout(function(){

	var flashMessageDanger = document.getElementById('flashMessageDanger');
	flashMessageDanger.setAttribute("class","alert alert-danger alert-dismissible fade");
	
	var flashMessageInfo = document.getElementById('flashMessageInfo');
	flashMessageInfo.setAttribute("class","alert alert-info alert-dismissible fade");
	
	var flashMessageSuccess = document.getElementById('flashMessageSuccess')
	flashMessageSuccess.setAttribute("class","alert alert-success alert-dismissible");
}, 10000);
</script>
{% endblock %}