{% extends "homelayout.html" %} {% block homecontent %}

<div style = "width: 100%;">
<div class = "container">
		<div class= "row" style = "height : 1.5vh">
			<div class = "col-2 d-flex justify-content-left align-items-left" style = "margin-left : 0vw">
				<span style = "color : rgb(0,52,215,0.9);font-weight: bold; ">NAMEPLATE</span>
			</div>
			<div class = "col-9"></div>
		</div>	
		<div class= "row" style = "min-height : 2.5vh">
</div>
<ul class="nav nav-pills mb-2" id="pills-tab" role="tablist">
{% for key,namePlateLang in stdSubmodelData.items() %}
  <li class="nav-item" role="presentation">
    <a class="nav-link {{namePlateLang.active}}" id="pills-{{key}}-tab" data-bs-toggle="pill" data-bs-target="#pills-{{key}}" type="button" role="tab" aria-controls="pills-{{key}}" aria-selected="{{namePlateLang.status}}">{{key}}</a>
  </li>
 {% endfor %}
</ul>
<div class= "row" style = "height : 2.5vh">
</div>	
<div class="tab-content" id="pills-tabContent">
{% for key,namePlateLang in stdSubmodelData.items() %}
<div class="tab-pane fade {{namePlateLang.showActive}}" id="pills-{{key}}" role="tabpanel" aria-labelledby="pills-{{key}}-tab">
 <div>

		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<p style= "color: white;font-size: larger;">Product Details</p>
			</div>
			<div class = "col-10 ">
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p >Manufacturer Name</p>
					</div>
										<div class = "col-4">
						<p id = "{{key}}.ManufacturerName">{{namePlateLang.data.ManufacturerName}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','ManufacturerName','Nameplate','MLP','ManufacturerName','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											alt = "namePlateImage"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','ManufacturerName','Nameplate','MLP','ManufacturerName','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p >ManufacturerProduct Designation</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.ManufacturerProductDesignation">{{namePlateLang.data.ManufacturerProductDesignation}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','ManufacturerProductDesignation','Nameplate','MLP','ManufacturerProductDesignation','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','ManufacturerProductDesignation','Nameplate','MLP','ManufacturerProductDesignation','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p >Manufacturer Product Family</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.ManufacturerProductFamily">{{namePlateLang.data.ManufacturerProductFamily}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','ManufacturerProductFamily','Nameplate','MLP','ManufacturerProductFamily','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','ManufacturerProductFamily','Nameplate','MLP','ManufacturerProductFamily','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>				
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p >Serial Number</p>
					</div>
					<div class = "col-4">
								<p id = "{{key}}.SerialNumber">{{namePlateLang.data.SerialNumber}}</p>													
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','SerialNumber','Nameplate','MLP','SerialNumber','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','SerialNumber','Nameplate','MLP','SerialNumber','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p >Year Of Construction</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.YearOfConstruction">{{namePlateLang.data.YearOfConstruction}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','YearOfConstruction','Nameplate','Property','YearOfConstruction','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','YearOfConstruction','Nameplate','Property','YearOfConstruction','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<p style= "color: white;font-size: larger;">Address</p>
			</div>
			<div class = "col-10 ">
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>Department</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.Department">{{namePlateLang.data.Department}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','Department','Nameplate','MLP','Address.Department','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','Department','Nameplate','MLP','Address.Department','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>Street</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.Street">{{namePlateLang.data.Street}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','Street','Nameplate','MLP','Address.Street','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','Street','Nameplate','MLP','Address.Street','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>Zipcode</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.Zipcode">{{namePlateLang.data.Zipcode}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','Zipcode','Nameplate','MLP','Address.Zipcode','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','Zipcode','Nameplate','MLP','Address.Zipcode','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>			
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>POBox</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.POBox">{{namePlateLang.data.POBox}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','POBox','Nameplate','MLP','Address.POBox','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','POBox','Nameplate','MLP','Address.POBox','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>ZipCode Of POBox</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.ZipCodeOfPOBox">{{namePlateLang.data.ZipCodeOfPOBox}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','ZipCodeOfPOBox','Nameplate','MLP','Address.ZipCodeOfPOBox','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','ZipCodeOfPOBox','Nameplate','MLP','Address.ZipCodeOfPOBox','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>				
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>City Town</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.CityTown">{{namePlateLang.data.CityTown}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','CityTown','Nameplate','MLP','Address.CityTown','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','CityTown','Nameplate','MLP','Address.CityTown','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>StateCounty</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.StateCounty">{{namePlateLang.data.StateCounty}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','StateCounty','Nameplate','MLP','Address.StateCounty','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','StateCounty','Nameplate','MLP','Address.StateCounty','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>NationalCode</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.NationalCode">{{namePlateLang.data.NationalCode}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','NationalCode','Nameplate','MLP','Address.NationalCode','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="http://localhost:60008/static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','NationalCode','Nameplate','MLP','Address.NationalCode','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>VATNumber</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.VATNumber">{{namePlateLang.data.VATNumber}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','VATNumber','Nameplate','MLP','Address.VATNumber','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','VATNumber','Nameplate','MLP','Address.VATNumber','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>AddressRemarks</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.AddressRemarks">{{namePlateLang.data.AddressRemarks}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','AddressRemarks','Nameplate','MLP','Address.AddressRemarks','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','AddressRemarks','Nameplate','MLP','Address.AddressRemarks','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>AddressOfAdditionalLink</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.AddressOfAdditionalLink">{{namePlateLang.data.AddressOfAdditionalLink}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','AddressOfAdditionalLink','Nameplate','MLP','Address.AddressOfAdditionalLink','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','AddressOfAdditionalLink','Nameplate','MLP','Address.AddressOfAdditionalLink','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>TelephoneNumber</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.TelephoneNumber">{{namePlateLang.data.TelephoneNumber}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
										onclick="modalSubmodelDataModifier('{{aasIndex}}','TelephoneNumber','Nameplate','MLP','Address.Phone.TelephoneNumber','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','TelephoneNumber','Nameplate','MLP','Address.Phone.TelephoneNumber','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>TypeOfTelephone</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.TypeOfTelephone">{{namePlateLang.data.TypeOfTelephone}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','TypeOfTelephone','Nameplate','MLP','Address.Phone.TypeOfTelephone','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','TypeOfTelephone','Nameplate','MLP','Address.Phone.TypeOfTelephone','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>FaxNumber</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.FaxNumber">{{namePlateLang.data.FaxNumber}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
										onclick="modalSubmodelDataModifier('{{aasIndex}}','FaxNumber','Nameplate','MLP','Address.Fax01.FaxNumber','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','FaxNumber','Nameplate','MLP','Address.Fax01.FaxNumber','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>TypeOfFaxNumber</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.TypeOfFaxNumber">{{namePlateLang.data.TypeOfFaxNumber}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','TypeOfFaxNumber','Nameplate','MLP','Address.Fax01.TypeOfFaxNumber','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','TypeOfFaxNumber','Nameplate','MLP','Address.Fax01.TypeOfFaxNumber','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>EmailAddress</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.EmailAddress">{{namePlateLang.data.EmailAddress}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','EmailAddress','Nameplate','MLP','Address.Email01.EmailAddress','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','EmailAddress','Nameplate','MLP','Address.Email01.EmailAddress','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>PublicKey</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.PublicKey">{{namePlateLang.data.PublicKey}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','PublicKey','Nameplate','MLP','Address.Email01.PublicKey','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','PublicKey','Nameplate','MLP','Address.Email01.PublicKey','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>TypeOfEmailAddress</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.TypeOfEmailAddress">{{namePlateLang.data.TypeOfEmailAddress}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','TypeOfEmailAddress','Nameplate','MLP','Address.Email01.TypeOfEmailAddress','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','TypeOfEmailAddress','Nameplate','MLP','Address.Email01.TypeOfEmailAddress','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid; margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p>TypeOfPublickKey</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.TypeOfPublickKey">{{namePlateLang.data.TypeOfPublickKey}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','TypeOfPublickKey','Nameplate','MLP','Address.Email01.TypeOfPublickKey','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('{{aasIndex}}','TypeOfPublickKey','Nameplate','MLP','Address.Email01.TypeOfPublickKey','{{key}}','{{submodelidentificationId}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>				
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<p style= "color: white;font-size: larger;">Markings</p>
			</div>
			<div class = "col-10" style = "margin-bottom: 2vh;">
				{% for marking in namePlateLang.data.Markings %}
				<div class= "row">
					<div class = "col-4">
						<div class   = "row d-flex justify-content-center  align-items-center">
						{% if marking.MarkingFile != '' -%}
							<img id = "marking1" style="height: 20vh; width: 10vw; margin-top: 2vh; margin-right : 8vw;display: block;margin-right: auto;margin-left: auto;" src="{{marking.MarkingFile}}">
						{%- endif %}
						</div>
						<div class  = "row d-flex justify-content-center  align-items-center" style = "margin-top : 1vh;" id = "marking1Text">
							{{marking.MarkingName}} 
						</div>
					</div>				
				</div>
				{% endfor %}
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		{% if 'AssetSpecificProperties' in namePlateLang.data %}
		
		<div class = "row" style = "border-style : solid; border-color:rgb(0,52,215,0.9)">
			<div class = "col-2 d-flex justify-content-center  align-items-center" style = "background-color:rgb(0,52,215,0.9); ">
				<p style= "color: white;font-size: larger;">Asset Specific Properties</p>
			</div>
			<div class = "col-10 ">
			{% for key1, value in namePlateLang.data.AssetSpecificProperties.items() %}
				<div class = "row" style= "color: black;font-size: larger; border-bottom-color: rgb(0,52,215,0.9); border-bottom-style:solid;  margin-top: 2.5vh;margin-bottom: 2.5vh;  margin-left: 1vw; margin-right: 1vw;  padding-bottom : 1.5vh;">
					<div class = "col-4" style = "padding-left:0">
						<p >{{key1}}</p>
					</div>
					<div class = "col-4">
						<p id = "{{key}}.{{key1}}">{{value}}</p>
					</div>
					<div class = "col-4 d-flex justify-content-end">
								<div class="imagecontainer">
										<input type="image" style="height: 2.5vh"
										onclick="modalSubmodelDataModifier('{{aasIndex}}','{{key1}}','Nameplate','MLP','AssetSpecificProperties.{{key1}}','{{key}}','{{submodelidentificationId}}')"
											onclick="modalSubmodelDataModifier('Nameplate','AssetSpecificProperties.{{key1}}')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit.svg"
											name="submit">
									<div class="overlay">
										<input type="image" style="height: 2.5vh"
											onclick="modalSubmodelDataModifier('Nameplate','ManufacturerName')"
											data-bs-toggle="modal" data-bs-target="#propertyUpdate"
											data-whatever="@mdo" src="{{exDomain}}static/images/edit1.svg"
											name="submit">
									</div>
								</div>					
					</div>
				</div>
			{% endfor %}
			</div>
		</div>
		<div class = "row" style = "height : 4.5vh">
		</div>
		{% endif %}
		 </div>	
</div>
 {% endfor %}
 </div>

</div>
</div>

<div class="modal fade" id="propertyUpdate" tabindex="-1" aria-labelledby="propertyUpdate" aria-hidden="true">

		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" name="submodel" id="submodelPropertyHeader"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<input id="submodelNameInnerText" name="submodelName" type="hidden" value="">
				<input id="submodelElemNameInnerText" name="submodelElemName" type="hidden" value="">
				<input id="submodelElemTypeInnerText" name="submodelElemType" type="hidden" value="">
				<input id="submodelElemidShortPathText" name="submodelElemidShortPath" type="hidden" value="">
				<input id="submodelElemAdditionalInfo" name="submodelElemAdditionalInfo" type="hidden" value="">
				<input id="submodelidentificationId" name="submodelidentificationId" type="hidden" value="">
				
				<div class="modal-body">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<label for="newValue_Text" class="form-label">New Value</label>
							</div>
							<div class="col-1"></div>
							<div class="col-7">
								<input type="text" name="newValue" class="form-control"
									id="newValue_Text" required>
							</div>
							<div class="col-1"></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-primary" id ="submodelElemButton" data-dismiss="modal" type="submit">Update</button>
					
				</div>
			</div>
		</div>
	
</div>




{% endblock %}
